<div class="container">
  <div class="row">
    <div class="column-3 roomlist">
      <app-room-list></app-room-list>
    </div>
    <div class="column-6 feed px-5">
      <div class="row-2">
        <h1 class ="title text-center">Messages feed</h1>
      </div>
      <div class="row-8">
        <app-feed></app-feed>
      </div>
      <div id="form" class="row-2">
        <app-form-chat></app-form-chat>
      </div>
    </div>
    <div class="column-3 userlist">
      <app-user-list></app-user-list>
    </div>
  </div>
</div>